name: CI/CD Pipeline

# Trigger the workflow on push to main and develop branches, and on pull requests
on:
  push:
    tags:
      - '*'
    branches:
      - main
  pull_request:
    branches:
      - main

# Global environment variables
env:
  NODE_VERSION: '18.x'

jobs:
  # Lint & Test Job - Runs on all triggers
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    - name: Install Dependencies
      run: |
        npm ci

    - name: Build
      run: |
        DISABLE_DB_CONNECTION=true npm run build
